.popup__edit-subtitle {
    height: 27px;
    margin-bottom: 48px;
    border: 0;
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 575px) {
    .popup__edit-subtitle {
        margin-bottom: 44px;
    }
}