.header__container {
    max-height: 74px;
    padding-top: 45px;
    border-bottom: 1px solid #545454;
    margin-bottom: 40px;
}

@media screen and (max-width: 575px) {
    .header__container {
        max-height: 56px;
        padding-top: 28px;
        margin-bottom: 42px;
    }
}