.profile_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .profile_container {
        flex-direction: column;
        margin-bottom: 36px;
    }
}